---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}
			{% include word_count.html content=post.content %}
          </a>
        </h2>
		{% if forloop.index0 < 2 %}
			<div class="post-excerpt">
				{{ post.excerpt }}
			</div>
		{% endif %}
		<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>
</div>
