/**
 * Site header
 */
.site-header {
    background-color: $background-color;
	padding-top: 10px;
    min-height: 42px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 18px;
    line-height: 42px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-family: Lato, Arial, sans-serif;
	letter-spacing: 0.5px;

    &,
    &:visited {
		color: $grey-color-light;
    }
	&:hover {
		color: $grey-color-dark;
	}
}

.site-nav {
    font-family: Lato, Arial, sans-serif;
    font-weight: 700;
    float: right;
    line-height: 42px;

    .menu-icon {
        display: none;
    }

    .page-link {
        text-transform: uppercase;
        color: $grey-color;
        border-bottom: 4px solid $grey-color-light;
        // color: $text-color;
        line-height: $base-line-height;

        &:hover {
            text-decoration: none;
            color: #2b2b2b;
            border-bottom-color: $brand-color;
        }

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    background-color: $background-color;
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }

	h2 {
		width: 80%;
	}
}

.post-meta {
    font-family: Lato;
    font-weight: 300;
    // font-size: $small-font-size;
    color: $grey-color-extralight;

    .post-list > li & {
		float: right;
		margin-top: -18px;
    }
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    text-rendering: optimizeLegibility;
    margin-bottom: $spacing-unit;

    a {
        color: $text-color;
        border-bottom: 1px solid #ccc;

        &:hover {
            color: $brand-color;
            border-width: 0;
        }
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Index Page
 */

.timeCount {
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
}

.timeBlock {
    float: left;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: $grey-color-light;
    margin-right: 2px;
}

// For instant click progress bar:
#instantclick-bar {
  background: $brand-color;
}