<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.6.0/mapbox-gl.css' rel='stylesheet' />
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.6.0/mapbox-gl.js'></script>

    <div id="photoheader" style="position: absolute; width: 100%; text-align: center;">
      {% include photoheader.html %}
    </div>

    {{ output }}

    {% include photofooter.html %}

    {% include photoswipe.html %}

    <link rel="stylesheet" href="/vendor/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="/vendor/photoswipe/default-skin/default-skin.css">
    <script src="/vendor/photoswipe/photoswipe.js"></script>
    <script src="/vendor/photoswipe/photoswipe-ui-default.js"></script>

    <script>
    	imgix.onready(function() {
        	imgix.fluid({
	          	updateOnResizeDown: true,
	          	pixelStep: 5,
	          	autoInsertCSSBestPractices: true,
	          	lazyLoad: true,
	          	fitImgTagToContainerWidth: true
        	});
        	imgix.fluid({
        		fluidClass: 'pswp__img',
        		fitImgTagToContainerWidth: true,
        		autoInsertCSSBestPractices: true,
        		pixelStep: 5
        	});
      	});
    </script>

	<script>

	var pswpElement = document.querySelectorAll('.pswp')[0];

	var items = [];

	var images = document.querySelectorAll('img');

	function addClickHandler(element, i) {
		element.addEventListener('click', function() {

			console.log("Clicked on image");
			console.log(image);

			var options = {
				index: i
			};

			var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options );
			gallery.init();
		});
	}

	for (var i = 0; i < images.length; i++) {
		var image = images[i];

		// Max width of 2x the window width (so we can zoom).
		var doubleWindowWidth = (window.innerWidth * window.devicePixelRatio) * 2;
		var isTooBig = image.dataset.sizewidth > doubleWindowWidth;
		var imageWidth = isTooBig ? doubleWindowWidth : image.dataset.sizewidth;
		var imageHeight = isTooBig ? (image.dataset.sizeheight * (doubleWindowWidth/image.dataset.sizewidth)) : image.dataset.sizeheight;

		items.push({
			src: image.dataset.imgsrc + '?dpr=' + window.devicePixelRatio + 'h=' + imageHeight + '&w=' + imageWidth,
			w: imageWidth,
			h: imageHeight
		});
	}

	console.log(items);

	for (var i = 0; i < images.length; i++) {
		var image = images[i];

		// image.onClick
		addClickHandler(image, i);
	}


	</script>

  </body>

</html>
