---
layout: default
---
{{ ## The main post body ##}}
<article>
	<h2>{{ page.title }}</h2>
	<div class="body">
		{{ content }}
	</div>
	<p><time datetime="{{ page.date }}">{{ page.date | date:"%B %d, %Y" }}</time></p>
</article>
<div id="page_info">
	{% if page.previous %} 
	        <div class="left"><a rel="prev" href="{{ page.previous.url }}">&larr; Older</a></div>
	{% endif %}
	{% if page.next %} 
	        <div class="right"><a rel="next" href="{{ page.next.url }}">Newer &rarr;</a></div>
	{% endif %}
</div>

{{## The related posts ##}}
<div id="related">
  {% if site.related_posts > 0 %}
  <h4>Related Posts</h4>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span class="mini-date">{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
<br/>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'bjtitus'; 
    var disqus_identifier = '{{ page.id | replace_first:"/", "" | replace:"/","_" }}';
    var disqus_url = 'http://bjtitus.net{{ page.url }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>